// Specific CSS for your home-page

.destinations {
  padding-top: 20px;
  padding-bottom: 20px;
}

.destinations h2 {
  text-align: center;
  display: flex;
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
}

.destinations h3 {
  font-family: 'Montserrat', sans-serif;
  display: flex;

}


.top-level-vp-container {
  background-color: rgba(0, 133, 100, 0.2);
  border-radius: 16px;
  padding: 50px;
  text-align: center;
}

.destination-card {
  display: flex;
  border-radius: 12px;
  padding: 10px;
  height: 260px;
  width: 90%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  margin: auto;
}


.top-level-vp-container h1 {
  color: $grounded-green;
}

.vp-holder {
  padding: 40px;
}
.vp-q-and-a-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vp-q {
  border-radius: 8px;
  background-color: $grounded-green;
  height: 10em;
  padding: 8px;
  display: flex;
  align-items: center;
  margin-top: 20px
}

.vp-q h1 {
  color: white;
  margin-left: 20px;
}

.vp-bottom-half h1 {
  color: #008564;
}

.vp-q h2 {
  color: white;
  flex-grow: 1;
}

#arrow {
  color: $grounded-green;
  font-size: 120px;
  text-align: center;
}

.vp-answer {
  border-radius: 8px;
  background-color: $grounded-green;
  height: 14em;
  padding: 8px;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.vp-answer h2 {
  color: white;
}

.vp-answer p {
  color: white;
  font-size: 24px;
}

.vp-line {
  border-bottom: solid 3px #008564;
  margin-top: 50px;
  margin-bottom: 50px
}

.vp-header {
  font-size: 40px;
}

.container {
  background: white;
}

.home-p-cards {
  display: flex;
  padding: 20px;
  width: 90%;
  margin: auto;
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
}

.home-p-cards h3 {
  width: 90%
}
