// Import page-specific CSS files here.
@import "home";


.index-form {
  margin: 0 auto;
  width: 80%;
}

.filter-and-map-box {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: white;
  height: 100%;
}
