.header-show-page {
  text-align: center;
  padding-top: 60px;
}

.card-index-img-div {
  height: 100%;
  width: 120px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-show-v2 {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 600px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-show-v2 img {
  width: 100%;
  display: block;
}

.text-cards-show {
  margin: 20px;
  padding-bottom: 20px;
  // overflow: hidden;
  text-overflow: ellipsis;
  margin: 0% 7% 7% 8%;
}

.description-text-show {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.description-text-show:hover {
  overflow-y: scroll;
}

.button-show-more {
  background-color: #008463;
  color: white;
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
  visibility: visible;
  border: none;
}

.show-header h1 {
  color: #008564;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  font-family: 'Source Serif Pro', serif;
  margin: 25px;
}
