.button {
  color: #008463;
  background-color: white;
  text-decoration: none;
  border: solid 1px;
  border-radius: 4px;
  border-color: #008463;
  padding: 8px;
}

.button-navbar {
  color: #008463;
  background-color: white;
  text-decoration: none;
  border: solid 1px;
  border-radius: 4px;
  border-color: #008463;
  padding: 8px;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 8px
}

.button-navbar:hover {
  color: #034b39;
  background-color: white;
  transition: 0.5s;
}

#navbarDropdownToggle {
  height: 40px;
}



.button:hover {
  background-color: #008463;
  color: rgba(0, 184, 138, 1);
}


.button-banner {
  background-color: #008463;
  color: white;
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background-color: #008463;
}

.btn:hover {
  color: #008463;
  background-color: white;
}


.button-index {
  height: 50px;
  width: 100px;
}

.btn-show-page {
  margin: 20px;
}
