

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  width: 900px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-top: 50px;
}

.card {
  display: flex;
  border-radius: 12px;
  padding: 50px;
  height: 260px;
  width: 220px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
}



.card-index {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: start;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  margin-bottom: 16px;
  border-radius: 4px;
  transition: transform .4s ease;
}

.card-index:hover {
  transform: scale(1.05);
}

.card-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-index-p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-index-infos {
  padding: 8px;
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.card-index-infos-topline {
  display: flex;
  justify-content: space-between;
}

.card-time-p {
  color: $grounded-green;
  font-size: 24;
  margin-top: 5px;;
}

.card-index-infos-topline h3 {
  margin: 0;
}

.card-index-infos-topline h3:hover {
  color: #D8B384;
}

.card-index-infos-topline h3:visited {
  color: #D8B384;
}

.card-container {
  width: 30%;
}

.card-trip>img {
  width: 100%;
}

.card-index-star-holder {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 6px;
}

.card-index-img {
  height: 100%;
  width: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
}

#car-time-p {
  margin-right: 10px;
}

.travel-plan-container {
  padding: 0 8em 0 8em;
}

.card-plans {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

.card-plan {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: transform .2s;
  }

  img:hover {
    transform: scale(1.10);
  }

  .plan-body {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .plan-body .a {
    text-decoration: none;
    color: #1B5044;
  }

  .plan-body .a:hover {
    color: #00B88A;
  }
}

.container h2 {
  color: #D8B384;
  font-weight: bold;
  margin-top: 5px;
}
