.destinations h2 {
  text-align: center;
  display: flex;
  margin: 100px;
  font-family: 'Montserrat', sans-serif;
}

.destinations h3 {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  padding-top: 160px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  width: 900px;
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 50px;
}

.card {
  display: flex;
  border-radius: 12px;
  padding: 50px;
  height: 260px;
  width: 220px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
}



.card-index {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: start;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  margin-bottom: 8px;
  border-radius: 4px;
}

.card-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-index-p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-index-infos {
  padding: 8px;
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.card-index-infos-topline {
  display: flex;
  justify-content: space-between;
}

.card-index-infos-topline p {
  color: $grounded-green;
  font-size: 24;
}

.card-index-infos-topline h3 {
  margin: 0;
}

.card-container {
  width: 30%;
}

.card-trip>img {
  width: 100%;
}

.card-index-star-holder {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 6px;
}

.card-index-img-div {
  height: 100%;
  width: 120px;
  background-position: center;
  background-size: cover;
  position: relative;
}


.card-show-v2 {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 600px;
  margin: 35px;
  margin-top: 50px;
}

.card-show-v2 img {
  width: 100%;
  display: block;
}

.text-cards-show {
  margin: 20px;
  padding-bottom: 20px;
  // overflow: hidden;
  text-overflow: ellipsis;
  margin: 0% 7% 7% 8%;
}

.decription-text-show {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

#car-time-p {
  margin-right: 10px;
}

.travel-plan-container {
  padding: 0 8em 0 8em;
}

.card-plans {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

.card-plan {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: transform .2s;
  }

  img:hover {
    transform: scale(1.5);
  }

  .plan-body {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .plan-body .a {
    text-decoration: none;
    color: #1B5044;
  }

  .plan-body .a:hover {
    color: #00B88A;
  }
}

.container h2 {
  color: #D8B384;
  font-weight: bold;
}

.reviews-card-show {}
