.main-container {
  display: flex;
  position: sticky;
}

.col-4 {
  height: 100vh;
  position: sticky;
  top: 0;
}

.cards {
  flex-grow: 1;
}

.col-4 {
  height: 100vh;
  // position: sticky;
  top: 0;
}
