.navbar-lewagon {
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #008463;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.white-navbar-item {
  color: white;
}
